<!DOCTYPE html>
<html>
	<head>
		<title>MultiPad</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="CodingCactus" >
		<meta name="keywords" content="multipad,pad,collaboration,notes,multiplayer,note taking" >
		<meta name="theme-color" content="#8ec9e6">
		<meta property="og:title" content="MultiPad" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="A clean, simple, and efficient collaborative workspace"/>
		<meta property="og:image" content="/favicon.ico" />

		<link href="/css/landing.css" rel="stylesheet" type="text/css" />
		<link href="/css/pad.css" rel="stylesheet" type="text/css" />
		<link href="/css/password.css" rel="stylesheet" type="text/css" />
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		
		<%= yield %>

		<script src="/js/forms.js"></script>
	</body>
</html>