<section id="password">
	<div id="passwordContainer">
		<h1 id="passwordPadName"><%= @pad_name %></h1>

		<form method="post" action="/pad/<%= @pad_name %>/password">
			<p id="passwordDescrip">This pad is password protected.</p>
			<input type="password" name="password" placeholder="Enter password" required>
			<p class="error"></p>
			<button type="submit" class="landingPageOpenButton passwordOpenButton">Open</button>
		</form>
	</div>
</section>