
#password {
	display: flex;
	justify-content: center;
	height: 100%;
}

#passwordContainer {
	margin-top: auto;
	margin-bottom: auto;
	width: auto;
	padding: 20px;
	height: 500px;
	border-radius: 8px;
	border: 2px solid var(--color-light-blue);
}

#passwordPadName {
	text-align: center;
	font-size: 30px;
	margin-top: 100px;
	margin-bottom: 50px;
}

#passwordDescrip {
	text-align: center;
}

.passwordOpenButton {
	background-color: var(--color-light-blue);
	color: var(--color-text-dark) !important;
}

.passwordOpenButton:hover {
	background-color: var(--color-light);
}


.landingPageOpenButton:active {
	transform: scaleX(1.1);
}
